@keyframes shadow {
    0% {
        width: 10%;
        background-color: grey;
    }

    100% {
        width: 22%;
        background-color: black;
    }
}
@keyframes vertical {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(17%);
    }
}

@keyframes lift{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
        /* border-color: grey; */
    }
}
@keyframes box{
    0%{
        border-bottom-color: black;
    }
    50%{
        border-right-color: black;
        border-left-color: black;
    }
    100%{
        border: solid 1px black;
    }
}
@font-face {
    font-family: 'Forte';
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
}
      
body {
    font-family: 'Forte','Roboto', sans-serif, 'Noto Sans JP', Arial;
    max-width: 1680px;

}
#b{
    /* background-image:linear-gradient(#f1a04f, white, #f1a04f); */
}

.menu-img{
    width: auto;
    height:100%;
}
img{
    width:auto;
    height:900px;
}

.image-container{
    width:70%;
    height: auto;
}
th, td {
   padding: 1%;
   font-size:25px;
   font-family: 'forte';
   font-weight: 100;
}
table {
/*    background-color: lightyellow; */
/*  font-family: Verdana,Helvetica,Georgia; */
    width: 90%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
    background-color:white;
}

td p {
    text-indent: 45%;
    margin: 2% 2%;
    font-size: medium;
    text-align:left;
    font-family: 'forte';
    font-weight: 100;
}
table:hover {
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.3), -8px 0px 7px rgba(0, 0, 0, 0.3);
    animation: lift 1s forwards;
}
.ig-container{
    margin: auto;
    /* margin-right: 5%; */
    width:fit-content;
    height:fit-content;
    /* float:right; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    left: 85%;
    top: 5%;
    max-width: 19in;
}

.ig-container a{
    margin-left:25%;
}
.orange{
    /* background-image:linear-gradient(#f1a04f, white,#f1a04f); */
    background-color:#f1a04f;
    padding-top:1cm;
    padding-bottom:1.5cm;
    margin-bottom: 10%;
    height:auto;
}
.text{
    text-emphasis-color: black;
    color:black;
    padding: 1em;
    margin:auto auto auto 45%;
    text-align: center;
    
}
#contact:hover{
/*    font-weight: 600;*/
    color:black;
/*    border: solid 1px black;*/
/*    animation: box 2s linear forwards;*/

}
#contact{
    /*float:left;*/
    margin:auto;
    margin-left: 4%;
    width:fit-content;
    height:auto;
}

#map {
    height: 500px;
    width: 85%;
    margin:auto;
}

#shadow a img{
    max-width: 100%;
    width: 10em;
    height:auto;
}

#logo-img{
    max-width: 1680px;
    width: 20%;
    height:auto;
    position: absolute;
    left:5%;
    top: 2%;
}