@keyframes shadow {
    0% {
        width: 10%;
        background-color: lightgrey;
    }

    100% {
        width: 22%;
        background-color: grey;
    }
}
@keyframes vertical {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(17%);
    }
}

@keyframes lift{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
body {
    font-family: 'Roboto', sans-serif, 'Noto Sans JP', Arial;
}

#shadow::before {
    content: "";
    position: absolute;
    top: 101%;
    width: 10%;
    height: 20%;
    background-color: lightgrey;
    border-radius: 170%;
    transform: perspective(1em) rotateX(4deg) scale(1,0.55);
    filter: blur(1em);
    animation: shadow 2s linear  infinite alternate;
}
#logo {
    animation: vertical 2s linear infinite alternate;
}
.blur {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.menu-img{
    width: ;
    height:100%;
}
img{
    width:auto;
    height:900px;
}

.image-container{
    width:70%;
    height: auto;
}
th, td {
   padding: 1%;
}
table {
/*    background-color: lightyellow;
*/    font-family: Verdana,Helvetica,Georgia;
    font-size: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

td p {
    text-indent: 45%;
    margin: 2% 2%;
    font-size: x-small;
    text-align:left;
}
table:hover {
    box-shadow: 1px 1px 7px;
    animation: lift 1s forwards;
}